$color_1: #007bff;
$color_2: #555;
$background-color_1: #001936;
$background-color_2: #ac88fd;

.popularPostsContainer {
	margin-bottom: 20px;
}
.popularPostItem {
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 10px;
	transition: transform 0.3s;
	&:hover {
		transform: translateY(-3px);
	}
}
.popularPostItem.dark {
    background-color: $background-color_1;
}
.popularPostItem.light {
    background-color: $background-color_2;
}
.postTitle {
	font-size: 1.2rem;
	font-weight: bold;
	color: $color_1;
	text-decoration: none;
}
.postInfo {
	display: flex;
	justify-content: space-between;
	font-size: 0.9rem;
	color: $color_2;
	margin-top: 5px;
}
.postAuthor {
	display: flex;
	align-items: center;
}
.postDate {
	display: flex;
	align-items: center;
}
.icon {
	margin-right: 5px;
	color: $color_1;
	font-size: 1rem;
}
