$color_1: white;
$color_2: #ff4081;
$background-color_1: #001f3f;
$background-color_2: #c6b0fb;

/* PostsPage.module.css */
.container {
	color: $color_1;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.container.dark {
	background-color: $background-color_1;
}
.container.light {
	background-color: $background-color_2;
}
.error {
	color: $color_2;
	margin-bottom: 20px;
}
.postsGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
}
.postItem {
	transition: transform 0.2s, box-shadow 0.2s;
	&:hover {
		box-shadow: 0 0 15px #ff4081, 0 0 25px #ff4081;
		transform: scale(1.02);
	}
}
