.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Занять всю высоту экрана */
  background-color: #1a1a2e; /* Темно-синий фон */
  color: #eaeaea; /* Светлый текст */
}

.content {
  flex: 1; /* Позволяет содержимому занимать оставшееся пространство */
  padding: 20px; /* Отступы внутри содержимого */
  overflow-y: auto; /* Прокрутка, если контент превышает высоту */
}

/* Добавьте дополнительные стили для Navbar, если это необходимо */
