.dialogPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #01162e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ff4081;
  }
  
  .messagesContainer {
    flex-grow: 1;
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: 400px;
    padding: 10px;
    background-color: #002b5c;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .message {
    padding: 10px;
    border-bottom: 1px solid #ff4081;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .author {
    font-weight: bold;
    margin-right: 10px;
    color: #007bff;
  }
  
  .content {
    font-size: 1rem;
    color: #ff4081;
  }
  
  .inputForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .inputField {
    flex-grow: 1;
    padding: 10px;
    color: #ff4081;
    font-size: 1rem;
    border: 1px solid #ff4081;
    border-radius: 5px;
    background: none;
    margin-right: 10px;
  }
  
  .sendButton {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sendButton:hover {
    background-color: #0056b3;
  }
  