$color_1: #ff4081;
$color_2: #007bff;
$color_3: #fff;
$color_4: black;
$color_5: #a106a1;
$background-color_1: #01162e;
$background-color_2: #002b5c;
$background-color_3: #007bff;
$background-color_4: #0056b3;
$background-color_5: #ac88fd;
$background-color_6: #bda0ff;

.dialogPage {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dialogPage.dark {
	background-color: $background-color_1;
}
.dialogPage.light {
	background-color: $background-color_6;
}
.messagesContainer {
	flex-grow: 1;
	margin-bottom: 20px;
	overflow-y: auto;
	max-height: 400px;
	padding: 10px;
	border-radius: 8px;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}
.messagesContainer.dark {
	background-color: $background-color_2;
}
.messagesContainer.light {
	background-color: $background-color_5;
}
.message {
	padding: 10px;
	border-bottom: 1px solid #ff4081;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.author {
	font-weight: bold;
	margin-right: 10px;
}
.author.dark {
	color: $color_2;
}
.author.light {
	color: $color_4;
}
.content {
	font-size: 1rem;
}
.content.dark {
  color: $color_1;
}
.content.light {
  color: $color_5;
}
.inputForm {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}
.inputField {
	flex-grow: 1;
	padding: 10px;
	font-size: 1rem;
	border: 1px solid #ff4081;
	border-radius: 5px;
	background: none;
	margin-right: 10px;
}
.inputField.dark {
	color: $color_1;
}
.inputField.light {
	color: $color_4;
}
.sendButton {
	padding: 10px 20px;
	font-size: 1rem;
	background-color: $background-color_3;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	&:hover {
		background-color: $background-color_4;
	}
}
.sendButton.dark {
	color: $color_3;
}
.sendButton.light {
	color: $color_4;
}