/* UsersPage.module.css */

.container {
    padding: 20px;
    background-color: #002b5c; /* Темно-синий фон */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    color: #ff4081;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .userItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .userCard {
    display: flex;
    align-items: center;
    background-color: #003f7f; /* Светлее синий фон для карточки пользователя */
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .userCard:hover {
    background-color: #ff4081; /* Розовый фон при наведении */
    transform: scale(1.02); /* Увеличение при наведении */
  }
  
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #002b5c; /* Темно-синий фон для аватара */
    color: #ff4081;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  
  .username {
    color: white;
    font-size: 1.2rem;
  }
  
  .userIcon {
    color: #ff4081; /* Розовый цвет иконки */
  }
  