.addPostPage {
  background-color: #0a1e34; /* dark blue */
  padding: 20px;
  border-radius: 8px;
  color: #ffffff; /* white */
}

label {
  display: block;
  margin: 15px 0;
}

input[type="text"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #1e90ff; /* light blue */
  border-radius: 5px;
  background-color: #1e1e1e; /* slightly lighter dark blue */
  color: #ffffff; /* white */
}

button {
  margin-top: 10px;
  background-color: #1e90ff; /* light blue */
}
