body {
  font-family: "Ubuntu", sans-serif;
  background: rgb(29, 0, 55);
  background: linear-gradient(270deg, rgba(29, 0, 55, 1) 0%, rgba(0, 0, 55, 1) 100%);
  color: #ff4081;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}