.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    width: 80px;
    height: 80px;
    background-color: #ff4081;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    border-radius: 50%;
    margin-bottom: 10px;
}

.username {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.postsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px); /* Каждый элемент имеет фиксированную ширину */
    gap: 10px;
    justify-content: center; /* Центрируем сетку */
}

.postItem {
    width: 150px;  /* Фиксированная ширина */
    height: 150px; /* Фиксированная высота */
    background: linear-gradient(135deg, #1f1f1f, #292929);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.postItem img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Картинка подгоняется под размер квадрата */
}

.title {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin: 5px 0;
    text-align: center; /* Центрируем заголовок */
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #b0b0b0;
}
